BasedOnStyle: Chromium
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: false
PointerAlignment: Middle
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Attach
SortIncludes: true
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
IncludeBlocks: Regroup
AllowShortCaseLabelsOnASingleLine: true
SpaceBeforeRangeBasedForLoopColon: false
IndentCaseLabels: true
FixNamespaceComments: true
AlignAfterOpenBracket: AlwaysBreak
PenaltyBreakBeforeFirstCallParameter: 0
