BasedOnStyle: Chromium
AccessModifierOffset: -4
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: true
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
IncludeBlocks: Regroup
AllowShortCaseLabelsOnASingleLine: true
SpaceBeforeRangeBasedForLoopColon: false
IndentCaseLabels: true
FixNamespaceComments: true
AlignAfterOpenBracket: AlwaysBreak
PenaltyBreakBeforeFirstCallParameter: 0
